.App {
  text-align: center;
  font-family: "Cabin", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Alliance No.1";
  src: local("Alliance No.1"),
    url("./resources/font/Degarism Studio - Alliance No.1 Light.otf")
      format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Alliance No.2";
  src: local("Alliance No.2"),
    url("./resources/font/Degarism Studio - Alliance No.2 Light.otf")
      format("opentype");
  font-weight: normal;
}
